
body {
		background: #fff; /*#e5f1f8;*/
		color: #000;/*#424242;*/
		font-family: Georgia, serif;
		font-size: 11px;
		font-size: 1.3rem;
		-webkit-font-smoothing: antialiased;
		margin: 0 auto;
		max-width: 40em;
		width: 90%;
		padding: 1em 0.5em;
		line-height: 1.75em;
	}


@media(min-width: 50em) {
	body {
		background: #fff; /*#e5f1f8;*/
		color: #000;/*#424242;*/
		font-family: Georgia, serif;
		font-size: 11px;
		font-size: 1.4rem;
		-webkit-font-smoothing: antialiased;
		margin: 0 auto;
		max-width: 40em;
		width: 66%;
		padding: 1em 0.5em;
		line-height: 1.75em;
	}
}

h1, h2 {
	text-align: left;
  line-height: 1.25em;
}

/*h1 {
	text-align: center;
	max-width: 90%;
	margin: 0 auto;
}

@media(min-width: 50em) {
	h1 {
		text-align: center;
		max-width: 70%;
	}
}
*/

/*div {
	width: 10%;
	margin: 10px auto;
}*/
img {
	max-width: 150px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

a {
	color: #1155cc;
	border-bottom: 1px solid transparent;
	-webkit-transition: border-bottom-color 0.2s linear;
	-moz-transition: border-bottom-color 0.2s linear;
	-o-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
	text-decoration: none;
}

a:hover {
	border-bottom-color: #1155cc;
}

.small {
	font-size: 10px;
	font-size: 1rem;
	/*font-style: italic;*/
}

div.feature {
	background: #FFDC97 /*#FFCD97*//*#FFE9AF*//*#f0f0ed*/;
	border: 3px solid #F99225/*#ECB972*/;
	padding: 15px 30px;
	/*border-radius: 3px;*/
	margin: 2em 0;
}

.centered {
	text-align: center;
	margin: 0 auto;
}

.call-to-action {
	width: 60%;	
}

.below-the-fold {
	color: #d4d4d4;
	border: 4px solid #d4d4d4;
}
